<?php

define('DATA_DIR', '{{ getenv "KANBOARD_DATA_DIR" }}');
define('DEBUG', {{ getenv "KANBOARD_DEBUG" }});
define('LOG_DRIVER', 'stderr');
define('PLUGINS_DIR', '{{ getenv "KANBOARD_PLUGINS_DIR" }}');
define('PLUGIN_API_URL', '{{ getenv "KANBOARD_PLUGIN_API_URL" }}');
define('PLUGIN_INSTALLER', {{ getenv "KANBOARD_PLUGIN_INSTALLER" }});
define('CACHE_DRIVER', '{{ getenv "KANBOARD_CACHE_DRIVER" }}');
define('CACHE_DIR', '{{ getenv "KANBOARD_CACHE_DIR" }}');
define('FILES_DIR', '{{ getenv "KANBOARD_FILES_DIR" }}');
define('MAIL_CONFIGURATION', {{ getenv "KANBOARD_MAIL_CONFIGURATION" }});
define('MAIL_FROM', '{{ getenv "KANBOARD_MAIL_FROM" }}');
define('MAIL_TRANSPORT', '{{ getenv "KANBOARD_MAIL_TRANSPORT" }}');
define('MAIL_SMTP_HOSTNAME', '{{ getenv "KANBOARD_MAIL_SMTP_HOSTNAME" }}');
define('MAIL_SMTP_PORT', {{ getenv "KANBOARD_MAIL_SMTP_PORT" }});
define('MAIL_SMTP_USERNAME', '{{ getenv "KANBOARD_MAIL_SMTP_USERNAME" }}');
define('MAIL_SMTP_PASSWORD', '{{ getenv "KANBOARD_MAIL_SMTP_PASSWORD" }}');
define('MAIL_SMTP_ENCRYPTION', {{ if eq (getenv "KANBOARD_MAIL_SMTP_ENCRYPTION") "" }}null{{ else }}'{{ getenv "KANBOARD_MAIL_SMTP_ENCRYPTION" }}'{{end}});
define('MAIL_SENDMAIL_COMMAND', '{{ getenv "KANBOARD_MAIL_SENDMAIL_COMMAND" }}');
define('DB_RUN_MIGRATIONS', {{ getenv "KANBOARD_DB_RUN_MIGRATIONS" }});
define('DB_DRIVER', '{{ getenv "KANBOARD_DB_DRIVER" }}');
define('DB_USERNAME', '{{ getenv "KANBOARD_DB_USERNAME" }}');
define('DB_PASSWORD', '{{ getenv "KANBOARD_DB_PASSWORD" }}');
define('DB_HOSTNAME', '{{ getenv "KANBOARD_DB_HOSTNAME" }}');
define('DB_NAME', '{{ getenv "KANBOARD_DB_NAME" }}');
define('DB_PORT', {{ if eq (getenv "KANBOARD_DB_PORT") "" }}null{{ else }}{{ getenv "KANBOARD_DB_PORT" }}{{end}});
define('DB_SSL_KEY', {{ if eq (getenv "KANBOARD_DB_SSL_KEY") "" }}null{{ else }}'{{ getenv "KANBOARD_DB_SSL_KEY" }}'{{end}});
define('DB_SSL_CERT', {{ if eq (getenv "KANBOARD_DB_SSL_CERT") "" }}null{{ else }}'{{ getenv "KANBOARD_DB_SSL_CERT" }}'{{end}});
define('DB_SSL_CA', {{ if eq (getenv "KANBOARD_DB_SSL_CA") "" }}null{{ else }}'{{ getenv "KANBOARD_DB_SSL_CA" }}'{{end}});
define('LDAP_AUTH', {{ getenv "KANBOARD_LDAP_AUTH" }});
define('LDAP_SERVER', '{{ getenv "KANBOARD_LDAP_SERVER" }}');
define('LDAP_PORT', {{ getenv "KANBOARD_LDAP_PORT" }});
define('LDAP_SSL_VERIFY', {{ getenv "KANBOARD_LDAP_SSL_VERIFY" }});
define('LDAP_START_TLS', {{ getenv "KANBOARD_LDAP_START_TLS" }});
define('LDAP_USERNAME_CASE_SENSITIVE', {{ getenv "KANBOARD_LDAP_USERNAME_CASE_SENSITIVE" }});
define('LDAP_BIND_TYPE', '{{ getenv "KANBOARD_LDAP_BIND_TYPE" }}');
define('LDAP_USERNAME', {{ if eq (getenv "KANBOARD_LDAP_USERNAME") "" }}null{{ else }}'{{ getenv "KANBOARD_LDAP_USERNAME" }}'{{end}});
define('LDAP_PASSWORD', {{ if eq (getenv "KANBOARD_LDAP_PASSWORD") "" }}null{{ else }}'{{ getenv "KANBOARD_LDAP_PASSWORD" }}'{{end}});
define('LDAP_USER_BASE_DN', '{{ getenv "KANBOARD_LDAP_USER_BASE_DN" }}');
define('LDAP_USER_FILTER', '{{ getenv "KANBOARD_LDAP_USER_FILTER" }}');
define('LDAP_USER_ATTRIBUTE_USERNAME', '{{ getenv "KANBOARD_LDAP_USER_ATTRIBUTE_USERNAME" }}');
define('LDAP_USER_ATTRIBUTE_FULLNAME', '{{ getenv "KANBOARD_LDAP_USER_ATTRIBUTE_FULLNAME" }}');
define('LDAP_USER_ATTRIBUTE_EMAIL', '{{ getenv "KANBOARD_LDAP_USER_ATTRIBUTE_EMAIL" }}');
define('LDAP_USER_ATTRIBUTE_GROUPS', '{{ getenv "KANBOARD_LDAP_USER_ATTRIBUTE_GROUPS" }}');
define('LDAP_USER_ATTRIBUTE_PHOTO', '{{ getenv "KANBOARD_LDAP_USER_ATTRIBUTE_PHOTO" }}');
define('LDAP_USER_ATTRIBUTE_LANGUAGE', '{{ getenv "KANBOARD_LDAP_USER_ATTRIBUTE_LANGUAGE" }}');
define('LDAP_USER_CREATION', {{ getenv "KANBOARD_LDAP_USER_CREATION" }});
define('LDAP_GROUP_ADMIN_DN', '{{ getenv "KANBOARD_LDAP_GROUP_ADMIN_DN" }}');
define('LDAP_GROUP_MANAGER_DN', '{{ getenv "KANBOARD_LDAP_GROUP_MANAGER_DN" }}');
define('LDAP_GROUP_PROVIDER', {{ getenv "KANBOARD_LDAP_GROUP_PROVIDER" }});
define('LDAP_GROUP_BASE_DN', '{{ getenv "KANBOARD_LDAP_GROUP_BASE_DN" }}');
define('LDAP_GROUP_FILTER', '{{ getenv "KANBOARD_LDAP_GROUP_FILTER" }}');
define('LDAP_GROUP_USER_FILTER', '{{ getenv "KANBOARD_LDAP_GROUP_USER_FILTER" }}');
define('LDAP_GROUP_ATTRIBUTE_NAME', '{{ getenv "KANBOARD_LDAP_GROUP_ATTRIBUTE_NAME" }}');
define('REVERSE_PROXY_AUTH', {{ getenv "KANBOARD_REVERSE_PROXY_AUTH" }});
define('REVERSE_PROXY_USER_HEADER', '{{ getenv "KANBOARD_REVERSE_PROXY_USER_HEADER" }}');
define('REVERSE_PROXY_DEFAULT_ADMIN', '{{ getenv "KANBOARD_REVERSE_PROXY_DEFAULT_ADMIN" }}');
define('REVERSE_PROXY_DEFAULT_DOMAIN', '{{ getenv "KANBOARD_REVERSE_PROXY_DEFAULT_DOMAIN" }}');
define('REMEMBER_ME_AUTH', {{ getenv "KANBOARD_REMEMBER_ME_AUTH" }});
define('ENABLE_HSTS', {{ getenv "KANBOARD_ENABLE_HSTS" }});
define('ENABLE_XFRAME', {{ getenv "KANBOARD_ENABLE_XFRAME" }});
define('MARKDOWN_ESCAPE_HTML', {{ getenv "KANBOARD_MARKDOWN_ESCAPE_HTML" }});
define('API_AUTHENTICATION_HEADER', '{{ getenv "KANBOARD_API_AUTHENTICATION_HEADER" }}');
define('ENABLE_URL_REWRITE', {{ getenv "KANBOARD_ENABLE_URL_REWRITE" }});
define('HIDE_LOGIN_FORM', {{ getenv "KANBOARD_HIDE_LOGIN_FORM" }});
define('DISABLE_LOGOUT', {{ getenv "KANBOARD_DISABLE_LOGOUT" }});
define('BRUTEFORCE_CAPTCHA', {{ getenv "KANBOARD_BRUTEFORCE_CAPTCHA" }});
define('BRUTEFORCE_LOCKDOWN', {{ getenv "KANBOARD_BRUTEFORCE_LOCKDOWN" }});
define('BRUTEFORCE_LOCKDOWN_DURATION', {{ getenv "KANBOARD_BRUTEFORCE_LOCKDOWN_DURATION" }});
define('SESSION_DURATION', {{ getenv "KANBOARD_SESSION_DURATION" }});
define('HTTP_PROXY_HOSTNAME', '{{ getenv "KANBOARD_HTTP_PROXY_HOSTNAME" }}');
define('HTTP_PROXY_PORT', '{{ getenv "KANBOARD_HTTP_PROXY_PORT" }}');
define('HTTP_PROXY_USERNAME', '{{ getenv "KANBOARD_HTTP_PROXY_USERNAME" }}');
define('HTTP_PROXY_PASSWORD', '{{ getenv "KANBOARD_HTTP_PROXY_PASSWORD" }}');
define('HTTP_VERIFY_SSL_CERTIFICATE', {{ getenv "KANBOARD_HTTP_VERIFY_SSL_CERTIFICATE" }});
define('TOTP_ISSUER', '{{ getenv "KANBOARD_TOTP_ISSUER" }}');
define('EXTERNAL_AUTH_EXCLUDE_FIELDS', '{{ getenv "KANBOARD_EXTERNAL_AUTH_EXCLUDE_FIELDS" }}');
