<?php

define('DATA_DIR', '/var/lib/kanboard/data');
define('DEBUG', {{ envBool "DEBUG" }});
define('LOG_DRIVER', 'stderr');
define('PLUGINS_DIR', '/var/lib/kanboard/plugins');
define('PLUGIN_API_URL', '{{ envString "PLUGIN_API_URL" }}');
define('PLUGIN_INSTALLER', {{ envBool "PLUGIN_INSTALLER" }});
define('CACHE_DRIVER', '{{ envString "CACHE_DRIVER" }}');
define('CACHE_DIR', '/var/lib/kanboard/cache');
define('FILES_DIR', '/var/lib/kanboard/files');
define('MAIL_CONFIGURATION', {{ envBool "MAIL_CONFIGURATION" }});
define('MAIL_FROM', '{{ envString "MAIL_FROM" }}');
define('MAIL_TRANSPORT', '{{ envString "MAIL_TRANSPORT" }}');
define('MAIL_SMTP_HOSTNAME', '{{ envString "MAIL_SMTP_HOSTNAME" }}');
define('MAIL_SMTP_PORT', {{ envInt "MAIL_SMTP_PORT" }});
define('MAIL_SMTP_USERNAME', '{{ envString "MAIL_SMTP_USERNAME" }}');
define('MAIL_SMTP_PASSWORD', '{{ envString "MAIL_SMTP_PASSWORD" }}');
define('MAIL_SMTP_ENCRYPTION', {{ if eq (envString "MAIL_SMTP_ENCRYPTION") "" }}null{{ else }}'{{ envString "MAIL_SMTP_ENCRYPTION" }}'{{end}});
define('MAIL_SENDMAIL_COMMAND', '{{ envString "MAIL_SENDMAIL_COMMAND" }}');
define('DB_RUN_MIGRATIONS', {{ envBool "DB_RUN_MIGRATIONS" }});
define('DB_DRIVER', '{{ envString "DB_DRIVER" }}');
define('DB_USERNAME', '{{ envString "DB_USERNAME" }}');
define('DB_PASSWORD', '{{ envString "DB_PASSWORD" }}');
define('DB_HOSTNAME', '{{ envString "DB_HOSTNAME" }}');
define('DB_NAME', '{{ envString "DB_NAME" }}');
define('DB_PORT', {{ envInt "DB_PORT" }});
define('DB_SSL_KEY', {{ if eq (envString "DB_SSL_KEY") "" }}null{{ else }}'{{ envString "DB_SSL_KEY" }}'{{end}});
define('DB_SSL_CERT', {{ if eq (envString "DB_SSL_CERT") "" }}null{{ else }}'{{ envString "DB_SSL_CERT" }}'{{end}});
define('DB_SSL_CA', {{ if eq (envString "DB_SSL_CA") "" }}null{{ else }}'{{ envString "DB_SSL_CA" }}'{{end}});
define('DB_VERIFY_SERVER_CERT', {{ if eq (envString "DB_VERIFY_SERVER_CERT") "" }}null{{ else }}{{ envBool "DB_VERIFY_SERVER_CERT" }}{{end}});
define('DB_TIMEOUT', null);
define('LDAP_AUTH', {{ envBool "LDAP_AUTH" }});
define('LDAP_SERVER', '{{ envString "LDAP_SERVER" }}');
define('LDAP_PORT', {{ envInt "LDAP_PORT" }});
define('LDAP_SSL_VERIFY', {{ envBool "LDAP_SSL_VERIFY" }});
define('LDAP_START_TLS', {{ envBool "LDAP_START_TLS" }});
define('LDAP_USERNAME_CASE_SENSITIVE', {{ envBool "LDAP_USERNAME_CASE_SENSITIVE" }});
define('LDAP_BIND_TYPE', '{{ envString "LDAP_BIND_TYPE" }}');
define('LDAP_USERNAME', {{ if eq (envString "LDAP_USERNAME") "" }}null{{ else }}'{{ envString "LDAP_USERNAME" }}'{{end}});
define('LDAP_PASSWORD', {{ if eq (envString "LDAP_PASSWORD") "" }}null{{ else }}'{{ envString "LDAP_PASSWORD" }}'{{end}});
define('LDAP_USER_BASE_DN', '{{ envString "LDAP_USER_BASE_DN" }}');
define('LDAP_USER_FILTER', '{{ envString "LDAP_USER_FILTER" }}');
define('LDAP_USER_ATTRIBUTE_USERNAME', '{{ envString "LDAP_USER_ATTRIBUTE_USERNAME" }}');
define('LDAP_USER_ATTRIBUTE_FULLNAME', '{{ envString "LDAP_USER_ATTRIBUTE_FULLNAME" }}');
define('LDAP_USER_ATTRIBUTE_EMAIL', '{{ envString "LDAP_USER_ATTRIBUTE_EMAIL" }}');
define('LDAP_USER_ATTRIBUTE_GROUPS', '{{ envString "LDAP_USER_ATTRIBUTE_GROUPS" }}');
define('LDAP_USER_ATTRIBUTE_PHOTO', '{{ envString "LDAP_USER_ATTRIBUTE_PHOTO" }}');
define('LDAP_USER_ATTRIBUTE_LANGUAGE', '{{ envString "LDAP_USER_ATTRIBUTE_LANGUAGE" }}');
define('LDAP_USER_CREATION', {{ envBool "LDAP_USER_CREATION" }});
define('LDAP_GROUP_ADMIN_DN', '{{ envString "LDAP_GROUP_ADMIN_DN" }}');
define('LDAP_GROUP_MANAGER_DN', '{{ envString "LDAP_GROUP_MANAGER_DN" }}');
define('LDAP_GROUP_PROVIDER', {{ envBool "LDAP_GROUP_PROVIDER" }});
define('LDAP_GROUP_BASE_DN', '{{ envString "LDAP_GROUP_BASE_DN" }}');
define('LDAP_GROUP_FILTER', '{{ envString "LDAP_GROUP_FILTER" }}');
define('LDAP_GROUP_USER_FILTER', '{{ envString "LDAP_GROUP_USER_FILTER" }}');
define('LDAP_GROUP_ATTRIBUTE_NAME', '{{ envString "LDAP_GROUP_ATTRIBUTE_NAME" }}');
define('REVERSE_PROXY_AUTH', {{ envBool "REVERSE_PROXY_AUTH" }});
define('REVERSE_PROXY_USER_HEADER', '{{ envString "REVERSE_PROXY_USER_HEADER" }}');
define('REVERSE_PROXY_DEFAULT_ADMIN', '{{ envString "REVERSE_PROXY_DEFAULT_ADMIN" }}');
define('REVERSE_PROXY_DEFAULT_DOMAIN', '{{ envString "REVERSE_PROXY_DEFAULT_DOMAIN" }}');
define('REMEMBER_ME_AUTH', {{ envBool "REMEMBER_ME_AUTH" }});
define('ENABLE_HSTS', {{ envBool "ENABLE_HSTS" }});
define('ENABLE_XFRAME', {{ envBool "ENABLE_XFRAME" }});
define('MARKDOWN_ESCAPE_HTML', {{ envBool "MARKDOWN_ESCAPE_HTML" }});
define('API_AUTHENTICATION_HEADER', '{{ envString "API_AUTHENTICATION_HEADER" }}');
define('ENABLE_URL_REWRITE', {{ envBool "ENABLE_URL_REWRITE" }});
define('HIDE_LOGIN_FORM', {{ envBool "HIDE_LOGIN_FORM" }});
define('DISABLE_LOGOUT', {{ envBool "DISABLE_LOGOUT" }});
define('BRUTEFORCE_CAPTCHA', {{ envInt "BRUTEFORCE_CAPTCHA" }});
define('BRUTEFORCE_LOCKDOWN', {{ envInt "BRUTEFORCE_LOCKDOWN" }});
define('BRUTEFORCE_LOCKDOWN_DURATION', {{ envInt "BRUTEFORCE_LOCKDOWN_DURATION" }});
define('SESSION_DURATION', {{ envInt "SESSION_DURATION" }});
define('HTTP_PROXY_HOSTNAME', '{{ envString "HTTP_PROXY_HOSTNAME" }}');
define('HTTP_PROXY_PORT', '{{ envString "HTTP_PROXY_PORT" }}');
define('HTTP_PROXY_USERNAME', '{{ envString "HTTP_PROXY_USERNAME" }}');
define('HTTP_PROXY_PASSWORD', '{{ envString "HTTP_PROXY_PASSWORD" }}');
define('HTTP_VERIFY_SSL_CERTIFICATE', {{ envBool "HTTP_VERIFY_SSL_CERTIFICATE" }});
define('TOTP_ISSUER', '{{ envString "TOTP_ISSUER" }}');
define('EXTERNAL_AUTH_EXCLUDE_FIELDS', '{{ envString "EXTERNAL_AUTH_EXCLUDE_FIELDS" }}');
